.taskListItem {
	padding: 1em;
	background-color: #3e3e3e;
	/* border: 1px solid yellow; */
	display: flex;
	flex-flow: row nowrap;
	justify-content: space-between;
	align-items: center;
	box-shadow: 0 5px 8px #0004;
}

.taskListItem > div {
	/* width: 30%; */
	height: auto;
}

.taskListItem > div > span {
	margin: 0 0 0.5em;
	font-size: 1.5em;
	font-weight: 700;
	color: #0ef174;
	display: block;
}

.taskListItem > div > p {
	margin: 0 0 0.8em 0;
	font-size: 1em;
	color: azure;
}

.taskListItem > div > p > u {
	font-size: 0.8em;
	color: #ddd;
}

.taskListItem > div > .icon {
	margin: 0 0 0 0.5em;
	font-size: 32px;
	cursor: pointer;
	transition: color 1s ease-in-out 0;
}

.taskListItem > div > .checkIcon {
	/* 	margin: 0 0 0 0.5em; */
	color: #0ef174;
}

.taskListItem > div > .checkIcon:hover {
	color: #04c46a;
}

.taskListItem > div > .deleteIcon:hover {
	color: red;
}

.taskListItem > div > .editIcon:hover {
	color: lightyellow;
}
