.App {
	width: 100%;
	min-height: 100vh;
	padding: 1em;
	color: #eee;
	background-color: #222;
}

.App > h1 {
	text-align: center;
}

.App > .todoWrapper {
	width: 70%;
	min-width: 700px;
	max-width: 800px;
	padding: 2em 1em;
	margin: 2em auto 0;
	background-color: #333;
}

/****** INPUTS SECTION */

.todoWrapper > .inputsGroup {
	width: auto;
	height: auto;
	padding: 1em;
	margin: 0 0 2em;
	display: flex;
	justify-content: space-between;
	align-items: center;
	gap: 1em;
	/* border: 3px solid grey; */
}

.inputsGroup > .inputItem {
	display: flex;
	flex-flow: column nowrap;
	align-items: flex-start;
	justify-content: center;
}

.inputItem > label {
	display: block;
	font-weight: bold;
	margin: 0 0 1em;
}

.inputItem > input {
	width: 16em;
	padding: 0.5em;
	border: none;
	display: block;
}

.inputItem > input:focus {
	outline: none;
	outline: 2px solid #0ef174;
}

.inputItem > button {
	width: 5em;
	padding: 0.5em;
	margin: 2.2em 0 0;
	border: none;
	border-radius: 0;
	color: #222;
	background-color: #0ef174;
	cursor: pointer;
}

.inputItem > button:hover {
	background-color: #08a74f;
}

/****** BUTTONS SECTION */

.buttonsGroup {
	margin: 2em 0;
	display: flex;
	flex-flow: row nowrap;
	justify-content: flex-start;
	gap: 2px;
}

.buttonsGroup > button {
	padding: 0.6em 1em;
	border: none;
	color: #eee;
	background-color: #555;
	cursor: pointer;
}

.buttonsGroup > button.active {
	color: #222;
	background-color: #0ef174;
}

/****** TASKS LIST SECTION */

.todoWrapper > .taskList {
	padding: 0.5em;
	/* 	border: 3px solid red; */
	display: flex;
	flex-flow: column nowrap;
	gap: 1.5em;
}

/* .taskList > .taskListItem {
	padding: 1em;
	border: 1px solid yellow;
	display: flex;
	flex-flow: row nowrap;
	justify-content: space-between;
	align-items: center;
}

.taskListItem > div {
	height: auto;
}

.taskListItem > div > span {
	margin: 0 0 1em;
	font-size: 1.3em;
	font-weight: 700;
	color: #0ef174;
	display: block;
}

.taskListItem > div > p {
	margin: 0;
	font-size: 0.85em;
	color: azure;
}

.taskListItem > div > .icon {
	font-size: 32px;
	cursor: pointer;
	transition: color 1s ease-in-out 0;
}

.taskListItem > div > .checkIcon {
	margin: 0 0 0 0.5em;
	color: #0ef174;
}

.taskListItem > div > .checkIcon:hover {
	color: #04c46a;
}

.taskListItem > div > .deleteIcon:hover {
	color: red;
}
 */

/***** FOR THE EDIT MODE */

.editWrapper {
	padding: 0.5em;
	/* 	border: 3px solid red; */
	background-color: #444;
	box-shadow: 0 5px 10px 0 #0008;
	display: flex;
	flex-flow: column nowrap;
	align-items: center;
	gap: 0.85em;
}

.editWrapper > input,
.editWrapper > textarea {
	width: 100%;
	height: auto;
	padding: 0.4em;
	border: 3px solid grey;
	border-radius: 5px;
}

.editWrapper > button {
	width: fit-content;
	padding: 0.8em 0.6em;
	border: none;
	background-color: #0ef174;
	cursor: pointer;
}

.editWrapper > button:hover {
	transition: 0.5s;
	background-color: #0ef174aa;
}
