/** OWN AND GENERAL STYLES OF THE PROJECT **/

html {
	font-family: sans-serif;
	font-size: 16px;
	scroll-behavior: smooth;
}

*,
*::before,
*::after {
	box-sizing: border-box;
}

body {
	min-height: 100vh;
}

div#root {
	width: 100%;
	min-height: 100vh;
}
